<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangzai.lovesy">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wangzai.lovesy.LoveSyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wangzai.lovesy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wangzai.lovesy.ui.photodetail.PhotoDetailActivity"
            android:process=":remote" />

        <activity android:name="com.wangzai.lovesy.ui.persondetail.PersonDetailActivity" />

        <activity android:name="com.wangzai.lovesy.ui.test.TestActivity" />

        <activity android:name="com.wangzai.lovesy.ui.collectiondetail.CollectionDetailActivity" />

        <activity android:name="com.wangzai.lovesy.ui.login.LoginActivity" />

    </application>

</manifest>